/* Google Work Sans */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

/* Roslindale Display Condensed Regular */
/* @font-face {
    font-family: 'RoslindaleCondensed';
    src: url('/fonts/Roslindale-DisplayCondensedRegular-Testing.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
} */

/* GT America Expanded Medium
@font-face {
    font-family: 'GTAmericaExpanded';
    src: url('/fonts/GTAmerica-ExpandedMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
} */